img{
  width: 150px;
}

h1, a{
  font-family: 'Pacifico', cursive;
}
section{
  display: inline;
  width: 200px;
  text-align: center;
}

div{
  display: flex;
}
main{
  text-align:center;
  width: 400px;
}

h1{
  background: grey;
}